body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

.item {
  border: none;
}

.list-group-item-name {
  align-items: center;
  cursor: pointer;
}
.list-group-item.done .list-group-item-name {
  text-decoration-line: line-through;
}
.list-group-item.important .list-group-item-name {
  font-weight: bold;
  color: steelblue;
}
